    @charset "UTF-8";

body{
    background-color: #ffe259;  /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    z-index: 0;
}

body *{
    z-index: 1;
}

h1{
    color: red;
}

h2{
    color: blue;
}