@charset "UTF-8";

main{
    position: relative;
    max-width: 90vw;
    margin: 2em auto;
    display: grid;
    grid-template:
        "a a a b" auto
        "c c c c" auto / 21vw 21vw 21vw 21vw;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 5em;
    color: #2E282A;
    margin: 0;
    margin-bottom: 0.5em;
    grid-area: a;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #2E282A;
}

#search{
    padding: 2em;

}

#search h3{
    margin: 0;
    margin-bottom: 1em;
}

#search form{
    display: grid;
    grid-template:
        "a a a" auto
        "b c c" auto
        "d d d" auto
        "e e e" auto
        "f f f" auto;
}

#search-KW{
    grid-area: a;
}

#labelCategorie{
    grid-area: b;
}

#categorie{
    grid-area: c;
}

.mode div:nth-of-type(1){grid-area: d;}
.mode div:nth-of-type(2){grid-area: e;}
.mode div:nth-of-type(3){grid-area: f;}

.liste-encheres{
    display: grid;
    grid-template-columns: 21vw 21vw 21vw 21vw;
    gap: 2em;

}