@charset "UTF-8";

/*
####################################################################################################
                                GENERAL
####################################################################################################
*/

/*
----------------------------------------------------------------------------------------------------
                                Font
----------------------------------------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    /*
    Titres : Poppins
    p : Open Sans

    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    */


/*
----------------------------------------------------------------------------------------------------
                                Body
----------------------------------------------------------------------------------------------------
*/

body{
    background: #85FFBD;
    background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    background: -webkit-linear-gradient(45deg, #85FFBD, #FFFB7D 100%);
    z-index: 0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body *{
    z-index: 1;
}

main{
    position: relative;
    max-width: 80vw !important;
    margin: 2em auto;
}

.glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2em;
}

.button{
    padding: .5em 1em;
    background-color: #FFFFF0;
    color: #2E282A;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    transition: color .3s ease-out, background-color .3s ease-out;
}

.button:hover{
    color: #FFFFF0;
    background-color: #2E282A;
    transition: all .3s ease-in;
}

/* -------------------- Textes -------------------- */

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 5em;
    color: #2E282A;
    margin: 0;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #2E282A;
}

p{
    color: #2E282A;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: inherit;
    text-decoration: inherit;
}

/*
----------------------------------------------------------------------------------------------------
                                Header
----------------------------------------------------------------------------------------------------
*/

header{
    position: relative;
    top: 0;
    left: 0;
    max-width: 100vw;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin: 0;
}

.logo{
    width: 5em;
    transform: scale(1) translateZ(0);
    transition: transform .3s ease-out;
}

.logo:hover{
    transform: scale(1.15) translateZ(0);
    transition: transform .3s ease-in;
}


/* -------------------- Menu -------------------- */

#main-menu{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    color: #2E282A;
}

#main-menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

#main-menu li{
    margin: 0em 2em;
}

.underline{
    position: relative;
}

.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #2E282A;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}

/*
----------------------------------------------------------------------------------------------------
                                Form
----------------------------------------------------------------------------------------------------
*/

input{
    height: 2em;
    color: #2E282A;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    align-self: center;
}

input[type="checkbox"]{
    margin-right: 10px;
}

label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    align-self: center;
}

/*
----------------------------------------------------------------------------------------------------
                                Footer
----------------------------------------------------------------------------------------------------
*/

footer{
    position: relative;
    bottom: 0;
    left: 0;
    max-width: 100vw;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/*
####################################################################################################
                                HOME
####################################################################################################
*/

#home{
    display: grid;
    grid-template:
        "a a b" auto
        "c c c" auto;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

#home h1{
    margin-bottom: 0.5em;
    grid-area: a;
}

/*
----------------------------------------------------------------------------------------------------
                                Search
----------------------------------------------------------------------------------------------------
*/

#search{
    grid-area: b;
    display: grid;
    grid-template:
        "a a" auto
        "b c" auto
        "d d" auto;
    justify-content: center;
    align-items: center;
    row-gap: .5em;
}

#search h3{
    margin: 0;
    margin-bottom: 1em;
    grid-area: a;
    margin: 0;
    text-align: center;
}


.tab:first-of-type{
    grid-area: b;
}

.tab:last-of-type{
    grid-area: c;
}

/* -------------------- Tabs -------------------- */

.tab{
    text-align: center;
    font-weight: 600;
    border: 0;
    color: #2E282A;
}

.tab-selected{
    background-color: #2E282A;
    color: #FFFFF0;
}

/* -------------------- Form -------------------- */

#search form{
    grid-area: d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#search form label{
    font-size: 1em;
}

.search-mode{
    grid-area: a;
    margin-bottom: 1em;
}

.search-mode > div{
    display: flex;
    align-items: center;
}

#search-KW{
    grid-area: b;
    height: 1.7em;
    width: 100%;
}

#search-categorie{
    grid-area: b;
    margin: 1em 0em;
    width: 100%;
}

#search #categorie{
    width: 60%;
}

#search form button{
    align-self: center;
}

/*
----------------------------------------------------------------------------------------------------
                                Annonces
----------------------------------------------------------------------------------------------------
*/

.liste-encheres{
    grid-area: c;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    gap: 2em;
}

/*
####################################################################################################
                                SE CONNECTER
####################################################################################################
*/

#connexion-panel{
    padding: 4em;
    max-width: 60vw;
    display: grid;
    grid-template:
        "a a" auto
        "b b" auto
        "c d" auto;
}

#connexion-panel h1{
    margin: 0;
    width: 100%;
    text-align: center;
    grid-area: a;
}

#connexion-panel #mdpOublie{
    grid-area: c;
}

#connexion-panel #new-account{
    grid-area: d;
}

/*
----------------------------------------------------------------------------------------------------
                                Form
----------------------------------------------------------------------------------------------------
*/

#connexion-panel form{
    margin: 4em 0em;
    grid-area: b;
    display: grid;
    grid-template:
        "a b b b" auto
        "c d d d" auto
        ". . f e" auto
        ". g g ." auto;
    row-gap: 2em;
    align-items: center;
}

#connexion-panel p{
    text-align: center;
}

#connexion-panel form label:nth-of-type(1){grid-area: a;}
#connexion-panel form label:nth-of-type(2){grid-area: c;}
#connexion-panel form label:nth-of-type(3){
    grid-area: e;
    justify-self: flex-start;
}

#connexion-panel form input:nth-of-type(1){grid-area: b;}
#connexion-panel form input:nth-of-type(2){grid-area: d;}
#connexion-panel form input:nth-of-type(3){
    grid-area: f;
    justify-self: flex-end;
}

#connexion-panel form button{grid-area: g;}