<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EncheresLOSNA</display-name>
  
  <welcome-file-list>
  	<welcome-file>Controler</welcome-file>
    <welcome-file>/WEB-INF/listeEncheres.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>listeEncheres</servlet-name>
  	<jsp-file>/WEB-INF/listeEncheres.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>listeEncheres</servlet-name>
  	<url-pattern>/listeEncheres</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>seConnecter</servlet-name>
  	<jsp-file>/WEB-INF/seConnecter.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>seConnecter</servlet-name>
  	<url-pattern>/seConnecter</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>gererProfil</servlet-name>
  	<jsp-file>/WEB-INF/gererProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>gererProfil</servlet-name>
  	<url-pattern>/gererProfil</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>detailsArticle</servlet-name>
  	<jsp-file>/WEB-INF/detailsArticle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>detailsArticle</servlet-name>
  	<url-pattern>/detailsArticle</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>parametresEncheres</servlet-name>
  	<jsp-file>/WEB-INF/parametresEncheres.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>parametresEncheres</servlet-name>
  	<url-pattern>/parametresEncheres</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>profilVendeur</servlet-name>
  	<jsp-file>/WEB-INF/profilVendeur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>profilVendeur</servlet-name>
  	<url-pattern>/profilVendeur</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>modifierProfil</servlet-name>
  	<jsp-file>/WEB-INF/modifierProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>modifierProfil</servlet-name>
  	<url-pattern>/modifierProfil</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>motDePasseOublie</servlet-name>
  	<jsp-file>/WEB-INF/motDePasseOublie.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>motDePasseOublie</servlet-name>
  	<url-pattern>/motDePasseOublie</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>gestionArticle</servlet-name>
  	<jsp-file>/WEB-INF/gestionArticle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>gestionArticle</servlet-name>
  	<url-pattern>/gestionArticle</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>pageProfil</servlet-name>
  	<jsp-file>/WEB-INF/pageProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>pageProfil</servlet-name>
  	<url-pattern>/pageProfil</url-pattern>
  </servlet-mapping>

</web-app>